<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="css/style.css" class="stylesheet" />

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
          <li id="contact"><a href="/contact">CONTACT</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>

        </ul>
      </div>
    </nav>
    <body>
      <div class="container">
    </body>
  </head>
</html>
