.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  width: fit-content;
  color: #1abc9c !important;
  border-bottom: 1px solid #1abc9c;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  font-weight: 500;
}
.contact {
  letter-spacing: 2px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
}
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact-button {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}
.link {
  width: fit-content;
  color: lightseagreen;
  text-decoration: none;
  font-size: 2rem;
}
.link:hover {
  color: blue !important;
}
.forms {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1%;
}
.contact-input {
  outline: none;
  width: 100%;
  padding: 2%;
  background-color: #fff;
  border: 2px solid;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  font-size: 1.5rem;
}
.footer-padding {
  padding-bottom: 60px;
}
.input-label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
button {
  margin-top: 1%;
}
.thanks {
  color: blue;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 1.5rem;
  color: #fff;
}
